.news{
    color: #3B3B3B;
    &-top-img {
        img {
            width: 100vw;
        }
    }
    .product {
        &-container {
            margin-top: 140px;
            margin-bottom: 300px;
            text-align: center;
            h2 {
                font-family: dnp-shuei-mincho-pr6n, sans-serif;
                font-weight: normal;
                margin-bottom: 50px;
                font-size: 21px;
                letter-spacing: 2.1px;
            }
            .product-items {
                display: flex;
                justify-content: center;
                .product-item-1 {
                    margin-right: 10%;
                    position: relative;
                    .mask1 {
                        width: 100%;
                        height: 39%;
                        position: absolute;
                        top: 60%;
                        left: 0;
                        opacity: 0;
                        background-color: rgba(0,0,0,0.5);
                        transition: all 0.2s ease;
                        .caption {
                            color: #ffffff;
                            text-align: center;
                            margin-top: 20%;
                        }
                    }
                    &:hover {
                        .mask1 {
                            opacity: 1;
                        }
                    }
                }
                .product-item-2 {
                    margin-right: 10%;
                    position: relative;
                    .mask2 {
                        width: 100%;
                        height: 39%;
                        position: absolute;
                        top: 60%;
                        left: 0;
                        opacity: 0;
                        background-color: rgba(0,0,0,0.5);
                        transition: all 0.2s ease;
                        .caption {
                            color: #ffffff;
                            text-align: center;
                            margin-top: 20%;
                        }
                    }
                    &:hover {
                        .mask2 {
                            opacity: 1;
                        }
                    }
                }
                .product-item-3 {
                    position: relative;
                    .mask3 {
                        width: 100%;
                        height: 39%;
                        position: absolute;
                        top: 60%;
                        left: 0;
                        opacity: 0;
                        background-color: rgba(0,0,0,0.5);
                        transition: all 0.2s ease;
                        .caption {
                            color: #ffffff;
                            text-align: center;
                            margin-top: 20%;
                        }
                    }
                    &:hover {
                        .mask3 {
                            opacity: 1;
                        }
                    }
                }
            }
            .view {
                margin-top: 50px;
                font-size: 21px;
                letter-spacing: 1.05px;
                line-height: 53px;
            }
        }
    }
}